body{
font-size:16px;
font-family: arial, sans-serif;
}

.navbar{
font-size:0.875em;
}

a{
color:#a99c9c ;
}

a:hover{
color: #ed7d1e;
}

.navbar-nav li a:hover {
    
background-color:transparent;
}

.navbar-brand {
font-size:2.5em; 
    font-weight: bolder;
letter-spacing: -3px;
}

.orange{
color:darkorange;    

}

.navbar{
   font-size:0.875em;
   margin-bottom:0px;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.herobg {
    background: url("images/header-bg.jpg") no-repeat center center;
    background-size: cover;
    }

.herobg h1{
   float:right; /* float the text to the right*/
    color:#ffff;/* make the text white*/
    width:341px;/* give the H1 a width so that we wrap the text as per the design comp*/
    font-size:7.125em; /* 114px font size in photoshop divided by 16px= 7.125*/
    letter-spacing: -10px;/* fix the letter-spacing*/
    font-weight: 800;/* make the text bold*/
    line-height:75%;/* decrease the line height*/
    margin-top:140px;/* the words are 140px away from the navbar in photoshop*/
    text-align:right;
padding-bottom: 10%; /* use a percentage so that we have a variable padding at the bottom – the children within the div should control the height of divs*/
font-family: 'Raleway', sans-serif;
}
